*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}



/* подключение шрифтов */


@font-face{
    font-family: "a";
    src: url(font/OpenSans-Regular.woff);
}
@font-face{
    font-family: "b";
    src: url(font/OpenSans-Light.woff);
}
@font-face{
    font-family: "c";
    src: url(font/open-sans-semibold.woff);
}
@font-face{
    font-family: "d";
    src: url(font/ofont.ru_Raleway.ttf);
}



/* шапка */



header{
    /* grid-auto-rows: 500px; */
    /* display: grid; */
    /* grid-template-rows: minmax(10px, 1fr); */
    /* grid-template-rows: 0fr 1fr 0fr; */
    /* row-gap: 15px; */
    /* background-color: aqua; */
}



/* форма поиска */



.poisk{
    padding-top: 1%;
    padding-bottom: 1%;
    /* width: 100%; */
    /* margin-left: auto;
    margin-right: auto; */
    /* gap: 10px; */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 0.5fr 1fr 1fr;
    background-color: #4855ae;
}
form{
    background-color: #3a448b;
    grid-column: 2/4;
    /* grid-row: 2/3; */
    height: min-content;
    /* border: 1px solid #3a448b; */
    border-radius: 40px;
}
form input{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 40px;
    background-color: #3a448b;
    color: darkkhaki;
    padding-left: 15px;
    font-family: a, sans-serif;
    font-size: 11pt;
}
form a{
    margin-left: -65px;
    color: white;  
    text-decoration: none;
    font-family: a, sans-serif;
}



/* личный кабинет */



.lichniy_kabinet{
    grid-column: 5;
    /* background-color: crimson; */
    /* grid-row: 2/3; */
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    font-family: a, sans-serif;
    /* margin-left: 100px; */
    /* text-align: left; */
}
.lichniy_kabinet a{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}
.lichniy_kabinet a img{
    width: 30px;
}




/* шапка информация */



.info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: 1fr 5fr 1fr 4fr 1fr 3fr 1fr; */
    grid-row: 2;
    /* column-gap: 20px; */
}


/* логотип */



.logo{
    /* background-color: darkkhaki; */
    grid-column: span 3;
}
.logo img{
    width: 100%;
    /* border: 1px solid black; */
}



/* адрес в шапке */



.adres{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 20px minmax(100px, 1fr);
    column-gap: 5px;
}
.adres p2, p7{
    font-family: b, sans-serif;
}
.adres img{
    width: 20px;
    margin-top: 20px;
}
p7{
    text-indent: 10px;
    color: grey;
    font-size: 10pt;
}



/* номер телефона в шапке */



.nomer{
    grid-column: span 2;
    display: grid;
    grid-template-columns: 30px minmax(100px, 1fr);
    column-gap: 5px;
    /* text-align: center; */
    /* display: grid;
    grid-template-columns: 1fr 5fr; */
    /* background-color: rgb(238, 25, 142); */
}
.nomer img{
    width: 30px;
    margin-top: 10px;
    /* float: left; */
    /* padding-bottom: 25px; */
}
.nomer p8{
    font-family: b, sans-serif;
    font-size: 10pt;
    color: grey;
}
.nomer p3{
    font-size: 17pt;
    font-family: c, sans-serif;
}
.logo,
.adres,
.nomer{
    /* height: min-content; */
    margin-top: auto;
    margin-bottom: auto;
}



/* шапка разделы */



.razdel{
    background-color: #269337;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 15px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
p4{
    font-family: c, sans-serif;
}


/* основной блок */



.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, max-content); */
    grid-template-columns: minmax(min-content, 1fr) minmax(auto, max-content) minmax(min-content, 1fr);
    gap: 10px;
  }
  
  nav, aside, .content {
    display: grid;
    align-items: center;
    justify-content: center;
  }




/* левая навигация */



nav{
    /* grid-column: span 1; */
    display: grid;
    position: sticky;
    top: 255px;
    height: min-content;
    /* grid-template-rows: repeat(6, 1fr); */
    row-gap: 10px;
    /* background-color: slategrey; */
    /* margin-top: 10px; */
    padding-bottom: 10px;
}
.punkt_nav{
    /* margin-top: 10px; */
    background-color: #4855ae;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: grid; */
    /* grid-template-rows: 0.1fr 1fr 0.1fr; */
    border-radius: 10px;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.punkt_nav:hover{
    background-color: #0e1759;
}
.punkt_nav.a{
    margin-top: 10px;

}
p5{
    font-family: c, sans-serif;
    /* background-color: indianred; */
    font-size: 13pt;
    /* line-height: 10px; */
}
nav a{
    text-decoration: none; 
    /* font-size: 15pt;  */
    height: min-content;
    /* width: min-content; */
}



/* блок посередине */



.content{
    /* grid-column: span 3; */
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5;
    text-align: justify;
    /* background-color: saddlebrown; */
}
.content h2{
    font-family: d, sans-serif;
}
.content p6{
    font-family: a, sans-serif;
    font-size: 17px;
}
.content li{
    font-size: 15px;
    font-family: a, sans-serif;
}
.content img{
    width: 100%;
}



/* правая навигация */



aside{
    /* grid-column: span 1; */
    display: grid;
    row-gap: 10px;
    height: min-content;
    position: sticky;
    top: 255px;
    padding-bottom: 10px;
}
.punkt_nav2{
    background-color: #4855ae;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: grid; */
    /* grid-template-rows: 0.1fr 1fr 0.1fr; */
    border-radius: 10px;
    /* border: 1px solid black; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.punkt_nav2:hover{
    background-color: #0e1759;
}
.punkt_nav2.a{
    margin-top: 10px;
}
p9{
    font-family: c, sans-serif;
    /* background-color: indianred; */
    font-size: 13pt;
    /* line-height: 10px; */
}


/* подвал */



footer{
    display: grid;
    grid-template-rows: repeat(auto-fit, max-content);
    background-color: black;
}



/* верхняя часть подвала */



.vverh_footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-content: center;
    background-color: #269337;
    color: white;
    column-gap: 4%;
  }
  
p10, p11, p12, p13, p14, p15,
.razdel_footer a{
    font-family: b, sans-serif;
}



/* верхняя левая часть подвала с логотипом*/



.logo_footer{
    /* background-color: lawngreen; */
    display: grid;
    margin-top: 4%;
    margin-bottom: 4%;
    grid-template-rows: repeat(auto-fit, max-content);
    row-gap: 4%;
    margin-left: 10%;
    height: min-content;
}



/* логотип подвала */


.logo_footer{
    /* grid-row: span 1; */
}
.logo_img_footer img{
    width: 100%;
    /* background-color: aqua; */
}



/* телефон и емайл блок в подвале */



.telofon_and_email_footer{
    /* background-color: magenta; */
    display: grid;
    /* grid-row: span 1; */
    column-gap: 6%;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5;
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
}
p10, p12, p14{
    color: rgb(189, 221, 194);
    font-size: 15px;
}
p11, p13, p15{
    font-size: 18px;
}



/* телефон блок в подвале */



.telefon_footer{
    /* background-color: mediumslateblue; */
}



/* емаел блок в подвале */



.email_footer{
    /* background-color: midnightblue; */
}



/* юридический адрес блок в подвале */



.adres_footer{
    /* background-color: purple; */
    /* grid-row: span 1; */
    line-height: 2;
}


/* допблок для юридического адреса */



.uridich_adres{
    line-height: 1.2;
}



/* верхняя правая часть подвала "О предприятии"*/


.razdel_footer{
    display: grid;
    grid-template-rows: repeat(6, 0.5fr);
    /* row-gap: 20px; */
    /* height: max-content; */
    width: max-content;
}
.razdel_footer h3{
    font-family: c ,sans-serif;
    font-size: 18px;
}
.razdel_footer a{
    /* background-color: #ff0000; */
    /* border: 1px solid black; */
    font-family: b, sans-serif;
    font-size: 15px;
    color: white;
    transition: 0.8s;
}
.razdel_footer a:hover{
    padding-left: 5px;
    transition: 0.8s;
}



/* нижняя часть подвала */


.niz_footer{
    background-color: #000000;
    /* grid-row: span 1; */
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 1%;
    padding-top: 1%;
}
.niz_footer a{
    color: #999999;
    font-family: b, sans-serif;
    font-size: 15px;
}



/* адаптивный дизайн */


/* для планшета */
@media screen and (max-width: 768px) {
    /* .info{
        background-color: #0fe600; 
    } */
    form input{
        height: 25px;
    }
    .logo{
        grid-column: span 2;
    }
    .logo img{
        margin-top: auto;
        margin-bottom: auto;
    }
    .adres,
    .nomer{
        grid-column: span 1;
    }
    .nomer_img{
        display: none;
    }
    .nomer{
        grid-template-columns: 1fr;
    }
    .adres img,
    .nomer img{
        display: none;
    }
    .nomer{
        text-align: center;
    }
    .nomer .nomer_p3_p8 p8,
    .adres .adres_p2_p7 .adres_p7 p7{
        font-size: 6pt;
    }
    .nomer .nomer_p3_p8 p3,
    .adres .adres_p2_p7 .adres_p2 p2{
        font-size: 8.5pt;
    }
    form input, form a, p1{
        font-size: 8pt;
    }  
    p4{
        font-size: 8pt;
    }
    .razdel a img{
        width: 20px;
    }
    nav, aside{
        row-gap: 5px;
    }
    .punkt_nav,
    .punkt_nav2{
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .punkt_nav.a,
    .punkt_nav2.a{
        margin-top: 5px;
    }
    p5,p9{
        font-size: 6.5pt;
    }
    .content h2{
        font-size: 12px;
    }
    .content p6{
        font-size: 8.5px;
    }
    .content li{
        font-size: 7.5px;
    }
    /* .content{
        line-height: 1;
    } */
    .content img{
        width: 75%;
    }
    p10, p12, p14{
        font-size: 7.5px;
    }
    p11, p13, p15{
        font-size: 9px;
    }
    .adres_footer{
        line-height: 1;
    }
    .telofon_and_email_footer{
        line-height: 1;
    }
    .logo_img_footer img{
        width: 75%;
    }
    .razdel_footer h3{
        font-size: 9px;
    }
    .razdel_footer a{
        font-size: 7.5px;
    }
    .niz_footer a{
        font-size: 7.5px;
    }
}


/* для телефона */
@media screen and (max-width: 480px) {
    p1, p7, p8{
        display: none;
    }
    .lichniy_kabinet a img{
        margin-top: 5px;
    }
    .logo{
        grid-column: span 2;
    }
    .logo img{
        margin-left: 25%;
        margin-right: 25%;
    }
    /* .info{
        background-color: #ff0000;
    } */
    .adres,
    .nomer{
        text-align: center;
        grid-column: span 3;
    }
    .nomer .nomer_p3_p8 p3,
    .adres .adres_p2_p7 .adres_p2 p2{
        font-size: 4.5pt;
    }
    form input, form a, p1{
        font-size: 5pt;
    } 
    form a{
        margin-left: -35px;
    } 
    .lichniy_kabinet a img{
        width: 20px;
    }
    p4{
        font-size: 4pt;
    }
    .razdel a img{
        width: 10px;
    }
    form input{
        height: 5px;
    }
    nav, aside{
        row-gap: 2.5px;
    }
    .punkt_nav,
    .punkt_nav2{
        padding-top: 0;
        padding-bottom: 0;
    }
    .punkt_nav.a,
    .punkt_nav2.a{
        margin-top: 2.5px;
    }
    p5,p9{
        font-size: 3.25pt;
    }
    .content h2{
        font-size: 6px;
    }
    .content p6{
        font-size: 4.25px;
    }
    .content li{
        font-size: 3.75px;
    }
    .content img{
        width: 50%;
    }
    nav{
        display: none;
    }


    .container {
        grid-template-columns: minmax(auto, max-content) minmax(min-content, 1fr);
      }
    
      aside {
        /* margin-left: 0;
        margin-right: 0; */
        width: max-content;
      }



    p10, p12, p14{
        font-size: 3.75px;
    }
    p11, p13, p15{
        font-size: 4.5px;
    }
    .adres_footer{
        line-height: 0.5;
    }
    .telofon_and_email_footer{
        line-height: 0.5;
    }
    .logo_img_footer img{
        width: 50%;
    }
    .uridich_adres{
        line-height: 0.5;
    }
    .razdel_footer h3{
        font-size: 4.5px;
    }
    .razdel_footer a{
        font-size: 3.75px;
    }
    .niz_footer a{
        font-size: 3.75px;
    }
}